.error-message {
    padding: 7px 10px;
    background: #fff1f2;
    border: #ffd5da 1px solid;
    color: #d6001c;
    border-radius: 4px;
}
.success-message {
    padding: 7px 10px;
    background: #cae0c4;
    border: #c3d0b5 1px solid;
    color: #027506;
    border-radius: 4px;
}
.demo-table {
    background: #d9eeff;
    width: 100%;
    border-spacing: initial;
    margin: 2px 0px;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    color: #333;
    border-radius: 4px;
    padding: 20px 40px;
}
.demo-table td {
    padding: 15px 0px;
}
.demoInputBox {
    padding: 10px 30px;
    border: #a9a9a9 1px solid;
    border-radius: 4px;
}
.btnRegister {
    padding: 10px 30px;
    background-color: #3367b2;
    border: 0;
    color: #FFF;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
}

html, body {
    height:100%;
}

body {
    min-height:100%;
    margin:0;
    padding-top: 5rem;
}

a, a:hover, a:focus{
    color:#222222;
    text-decoration: none;
}

h2{
    color:#222222;
    font-size: 2em;
}

h3{
    color: #56585c;
    font-size: 1em;
}

h4{
    color: #fff;
    font-size: 1em;
}

.fa{
    margin: 0.5em;
}

.numPage{
    margin: 1em;
    font-size: 2em;
}

.row{
    background: #fff;
    border-radius: 2px;
    padding: 1em;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin:1em;
}

.btn-outline-secondary, .btn-outline-secondary:hover{
    background-color:#181d23;
}

.form-control:focus {
    border-color: grey;
}

.inputMargin {
    margin:1em;
}

.bg-inverse {
    background-color: #181d23;
}